/* src/App.css */
:root {
  --background-color: #caf0f8; /* Fondo */
  --secondary-background-color: #90e0ef; /* Fondo secundario */
  --highlight-background-color: #00b4d8; /* Fondo resaltado */
  --primary-color: #0077b6; /* Color primario */
  --text-color: #03045e; /* Texto */
  --current-day-color: #0077b6; /* Color para el día actual en modo claro */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  --background-color: #0d1b2a;
  --text-color: #e0e1dd;
  --primary-color: #778da9;
  --secondary-background-color: #415a77;
  --highlight-background-color: #1b263b;
  --off-range-color: #5a5a5a;
  --current-day-color: #415a77; /* Color para el día actual en modo oscuro */
}

.App {
  text-align: center;
  position: relative;
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
}

h1 {
  color: var(--text-color);
}

.event-details {
  margin-top: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  margin: 0 auto;
}

body.dark-mode .event-details {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

/* For mobile devices */
@media (max-width: 600px) {
  .App {
    padding: 10px;
  }

  .event-details {
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
  }
}

/* For tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .App {
    padding: 15px;
  }

  .event-details {
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
  }
}

/* For laptops and desktops */
@media (min-width: 1025px) {
  .App {
    padding: 20px;
  }

  .event-details {
    border-radius: 15px;
    padding: 20px;
    font-size: 18px;
  }
}

/* Toggle Switch Styles */
.theme-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-background-color);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Calendar Styles */
.rbc-calendar {
  background-color: var(--background-color);
  color: var(--text-color);

  border-radius: 20px;
  overflow: hidden; /* This is to ensure the inner calendar respects the border radius */
  margin-bottom: 20px;
}

.rbc-toolbar {
  background-color: var(--background-color);
  color: var(--text-color);
}

.rbc-event {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.rbc-day-bg {
  background-color: var(--background-color);
}

.rbc-day-bg:not(.rbc-off-range-bg) {
  background-color: var(--highlight-background-color);
}

body.dark-mode .rbc-off-range-bg {
  background-color: var(--off-range-color);
}

body.dark-mode .rbc-day-bg:not(.rbc-off-range-bg) {
  background-color: var(--highlight-background-color);
}

body.dark-mode .rbc-date-cell {
  color: var(--text-color);
}

.current-day-highlight {
  background-color: var(--current-day-color) !important; /* Usar la variable definida para el color del día actual */
  color: #ffffff !important; /* Asegúrate de que el texto sea legible */
}
